---
"$schema": http://json-schema.org/draft-04/schema#
title: Bundle Config v3
description: A config schema for bundles
type: object
required:
  - cog_bundle_version
  - name
  - description
  - version
  - commands
properties:
  cog_bundle_version:
    type: number
    enum:
      - 4
  name:
    type: string
  description:
    type: string
  long_description:
    type: string
  author:
    type: string
  homepage:
    type: string
  version:
    type: string
    pattern: ^\d+\.\d+($|\.\d+$)
  permissions:
    type: array
    items:
      type: string
  docker:
    type: object
    required:
      - image
      - tag
    optional:
      - binds
    properties:
      image:
        type: string
      tag:
        type: string
      binds:
        type: array
        items:
          type: string
  templates:
    type: object
    patternProperties:
      "^[A-Za-z0-9_]+$":
        "$ref": "#/definitions/template"
    additionalProperties: false
  commands:
    type: object
    additionalProperties:
      "$ref": "#/definitions/command"

############# DEFINITIONS #################
definitions:
  template:
    type: object
    properties:
      body:
        type: string
    required:
      - body
    additionalProperties: false
  command:
    type: object
    required:
      - executable
      - rules
    properties:
      executable:
        type: string
      description:
        type: string
      long_description:
        type: string
      examples:
        type: string
      arguments:
        type: string
      subcommands:
        type: object
        additionalProperties:
          type: string
      rules:
        type: array
        items:
          type: string
      env_vars:
        type: object
        additionalProperties:
          type:
            - string
            - boolean
            - number
      options:
        type: object
        additionalProperties:
          "$ref": "#/definitions/command_option"
  command_option:
    type: object
    required:
      - type
    additionalProperties: false
    properties:
      type:
        type: string
        enum:
          - int
          - float
          - bool
          - string
          - incr
          - list
      description:
        type: string
      required:
        type: boolean
      short_flag:
        type: string
